@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}
* {
    box-sizing: border-box;
}

body {
   
    color:var(--Dark-Grayish-Blue) ;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    margin: 0;
}

header { 
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;

}

.container{
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.container-small { 
    width: 500px;
}

.flex { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flex > * {
    flex:1;
}
img {
    max-width: 100%;
}

.btn{
    border: none;
    border-radius: 50px;
    padding: 15px 25px;
    color: #fff;
    font-weight: 600;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 5px;
    padding: 15px 25px;
}

.btn-primary {
    background-color: var(--Strong-Cyan) ;
    box-shadow: 0 4px var(--Strong-Cyan);
}
.btn-secondary { 
    background-color: var(--Light-Blue) ;
}

footer { 
    background-color: hsl(0,0%,93%);
    margin-top: 20px;
}

footer ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}
footer .container {
    margin-bottom:0;
}

footer .links li {
    margin-right: 40px;
    margin-bottom: 20px;
}

footer img {
    width: 60px;
}
footer ul a { 
    color: var(--Dark-Grayish-Blue);
    text-decoration: none;
}
footer .social li {
 margin: 0 5px;
}

footer .social a { 
    font-size: 24px;
    margin-right: 5px;

}

section {
    padding: 40px 0;
}

p {
    line-height: 1.5;
}

@media (max-width:768px) {

    .flex { 
        flex-direction: column;
    }
    footer .links{
        flex-direction: column;
    }
    footer .links li {
        padding: 10px;
        margin-right: 0;
    }
    footer img {
        margin-top: 20px;
    }
    section img {
        margin-top: 20px;
    }
}